<div class="booklist">
    <div class="bl_title">{{BookZlIST.title}}</div>
    <p class="bl_author">{{BookZlIST.author}}</p>
    <p class="bl_jianjie">{{BookZlIST.jianjie | delHtmlPipe}}</p>
    <p class="bl_count">总共{{Zlength}}章<span (click)="sorttoggle()">倒序</span></p>
    <ul>
        <ng-container *ngFor="let n of BookZlIST.zview; let i = index">
            <li style="list-style-type:none">
                <a [routerLink]="['/bookv/', n.id, bookid]">{{n.title}}</a>
            </li>
        </ng-container>
    </ul>
</div>